<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from templates.hibootstrap.com/farol/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Mar 2024 07:14:47 GMT -->
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="/admin/assets/css/remixicon.css">
<link rel="stylesheet" href="/admin/assets/css/flaticon.css">
<link rel="stylesheet" href="/admin/assets/css/sidebar-menu.css">
<link rel="stylesheet" href="/admin/assets/css/simplebar.css">
<link rel="stylesheet" href="/admin/assets/css/apexcharts.css">
<link rel="stylesheet" href="/admin/assets/css/prism.css">
<link rel="stylesheet" href="/admin/assets/css/rangeslider.css">
<link rel="stylesheet" href="/admin/assets/css/sweetalert.min.css">
<link rel="stylesheet" href="/admin/assets/css/quill.snow.css">
<link rel="stylesheet" href="/admin/assets/css/style.css">

<link rel="icon" type="image/png" href="/admin/assets/images/favicon.png">

<title>Farol - Bootstrap 5 Admin Dashboard Template</title>
</head>
<body>
