<%- include("../partials/head.ejs") %>

    <div class="container">
        <div class="row">
        <div class="col">
        <h1>Hello: <%= email %> </h1> <a href="/logout">logout</a>
        </div>
        </div>
        </div>

<%- include("../partials/kaki.ejs") %>
